body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f7f7f7;
}

.container {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  position: relative;
}

img {
  width: 100%;
  max-width: calc(100% - 40px); /* Szélesség csökkentése a padding miatt */
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}
#current-image {
  opacity: 0;
}
#rules-image {
  opacity: 1;
  position: absolute;
  left: 20px;
  margin-top: 30px;
  transition: 0.2s;
  z-index: 2;
}

#position-buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

#position-buttons button {
  width: 48%;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #e0e0e0;
  color: #333;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

#position-buttons button:hover {
  background-color: #d0d0d0;
}

#new-game {
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

#new-game:hover {
  background-color: #45a049;
}

/* Toggle switch stílus */
.toggle-container {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Balra igazítás */
  margin-top: -10px; /* Pozitív margó */
  margin-bottom: 10px;
  margin-left: 0; /* Az eltolás eltávolítása */
  border-radius: 15px; /* Lekerekített sarkok */
  background-color: #e4e4e4; /* Háttérszín */
  padding: 5px 10px; /* Padding a jobb megjelenés érdekében */
  width: calc(100% - 20px); /* Szélesség csökkentése a padding miatt */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Árnyék a mélység érdekében */
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

span.toggle-label {
  margin: 0px 10px;
}

.info-icon {
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
  right: 26px;
  position: absolute;
  background-color: #d9d5d5;
  border-radius: 10px;
  width: 41px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rules-container {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  /* top: 0; */
  max-height: 100%;
  overflow: auto;
  z-index: 10;
  display: none;
  margin: 0px 8px 0px -12px;
}

.close-button {
  position: absolute; /* Abszolút pozicionálás */
  top: 10px; /* Tetején */
  right: 10px; /* Jobb szélén */
  background-color: #f44336; /* Piros háttér */
  color: white; /* Fehér szöveg */
  border: none; /* Nincs határ */
  border-radius: 5px; /* Lekerekítés */
  padding: 5px 10px; /* Padding */
  cursor: pointer; /* Kézkurzor */
  font-size: 16px; /* Betűméret */
}

.close-button:hover {
  background-color: #e53935; /* Sötétebb piros hover állapot */
}

.cube-container {
  perspective: 600px;
  position: relative;
  display: flex;
  justify-content: center;
  height: 150px;
  background-color: #ffffff;
  /* margin-top: 50px; */
  padding-top: 50px;
  margin-top: -324px;
  margin-bottom: 98px;
  z-index: 1;
  /* Árnyék hozzáadása */
}

.cube {
  position: relative;
  width: 150px;
  height: 150px;
  transform-style: preserve-3d;
  transform: rotateX(-20deg) rotateY(70deg) rotateZ(0deg);
  transition: transform 0.2s ease-in-out;
}

.face {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: transparent;
  border: 2px solid black;
  box-sizing: border-box;
}

.right {
  transform: rotateY(0deg) translateZ(75px);
}

.left {
  transform: rotateY(180deg) translateZ(75px);
}

.front {
  transform: rotateY(-90deg) translateZ(75px);
}

.back {
  transform: rotateY(90deg) translateZ(75px);
}

.top {
  transform: rotateX(90deg) translateZ(75px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(75px);
}

.green-side {
  background-color: rgb(
    76,
    175,
    80,
    0.79
  ) !important; /* Átlátszó zöld háttér */
}
